.container {
    border: .5px solid rgba(80, 80, 80, 0.591);
    margin: 2rem;
    background: linear-gradient(to right bottom, var(--color-tertiary), var(--color-secondary));
    box-shadow: 4px 4px 6px rgba(0,0,0,0.2);
}

.cardContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    height: 100%;
}

.col1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
}

.ethPriceContainer,
.ethMCContainer {
    display: flex;
    align-items: center;
    padding: 3px;
}

.ethPriceContainer {
    margin-bottom: 1.5rem;
}

.iconEth
,.ethMCIcon {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    stroke-width: 0;
    stroke: black;
    fill: black;
    margin-right: 5px;
    transition: all .6s;

    &:hover {
        transform: rotate(180deg);
    }
}

.ethPriceStat,
.ethMCStat {
    display: flex;
    flex-direction: column;
}

.ethMCStatsContainer {
    margin-left: 1rem;
}

.ethMC,
.ethPrice {
    font-weight: bold;
    font-family: 'sans-serif';
    font-size: 1.7rem;
}

