.navContainer {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    background: linear-gradient(to right, var(--color-primary) -30%, var(--color-secondary));
    background: var(--color-secondary);

    & .navItem {
        transition: all .2s;
        cursor: pointer;
    }

    & .navItem:hover {
        font-weight: 600;
        transform: translateY(-2.5px);
    }

    a:hover {
        color: black;
        text-shadow: 1px 2px 0px rgba(210, 210, 210, 0.632);
    }
}

.logoContainer {
    display: flex;
    align-items: center;
    flex: 1;
    font-weight: 700;
    font-size: 2.5rem;
    margin: .5rem;
    cursor: pointer;
    
    .iconText {
        display: flex;
        align-items: center;
        transition: all .2s;

        &:hover {
            transform: scale(1.05)
        }
    }


    .logoText {
        text-shadow: 2px 2px 0px white;
    }
}

.navItemContainer {
    display: flex;
    justify-content: space-between;
    
    &:last-child {
        margin-right: 3rem;
    }
}

.navItem {
    margin: 0 1rem;
    font-weight: 660;
    display: flex;
    justify-content: center;
    align-items: center;
}

.userAvatar {
    margin-right: 3px;
}