.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 3rem;
    background-color: var(--color-secondary);
    font-size: 1.3rem;
}

.divider {
    color:black;
    font-weight: 700;
    font-family: sans-serif;
    margin: .5rem 0;
    border-top: 1px solid rgb(82, 82, 82, 0.3);
}

.col2 {

    .col2Heading {
        font-weight: 700;
        font-family: sans-serif;
        font-size: 1.5rem;
    }
    
    .col2List {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
    }
}