.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 4rem;
    background-color: var(--color-secondary);
    font-size: 1.3rem;
}

.logoContainer {
    font-size: 3rem;
    display: flex;
    align-items: center;
}

.socialMediaList {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    font-size: 1.6rem;

    & > * {
        cursor: pointer;
    }
}

.col2 {
    margin-left: -10rem;
}

.divider {
    color:black;
    font-weight: 700;
    font-family: sans-serif;
    margin: .5rem 0;
    border-top: 1px solid rgb(82, 82, 82, 0.3);
}

.colHeading {
    font-weight: 700;
    font-family: sans-serif;
    font-size: 1.5rem;
}

.colList {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;

    & > * {
        cursor: pointer;
    }
}

